@if (isAdmin()) {
  <div class="mb-4">
    <div
      class="mb-2 flex cursor-pointer items-center justify-between rounded-lg bg-primary-200 p-2 pl-5"
      (click)="toggle()"
    >
      <h1 class="text-lg font-medium text-text-950">Stop Managers</h1>
      <span class="text-text-900">{{ isExpanded() ? '▼' : '►' }}</span>
    </div>
    <div [ngClass]="{ hidden: !isExpanded() }">
      <div class="mt-4 flex flex-col gap-4 md:flex-row">
        <!-- Selected Stop Managers (Left Side) -->
        <div class="w-full md:w-1/2">
          <div class="mb-2 text-sm font-medium text-text-950">
            Assigned Stop Managers
          </div>
          <!-- Assigned Stop Managers Filter -->
          <div class="mb-4">
            <div
              class="mb-2 flex flex-col items-start gap-4 sm:flex-row sm:items-center sm:justify-between"
            >
              <div class="flex w-full items-center sm:w-auto">
                <label
                  for="assignedStopManagerFilter"
                  class="mr-2 flex-shrink-0 text-sm font-medium text-text-950"
                  >Search:</label
                >
                <input
                  id="assignedStopManagerFilter"
                  type="text"
                  [ngModel]="assignedStopManagerFilterText()"
                  (ngModelChange)="assignedStopManagerFilterText.set($event)"
                  placeholder="Name or username"
                  class="w-full rounded-lg border border-primary-200 bg-background-50 p-1.5 text-sm text-text-950 focus:border-primary-300 focus:ring-primary-300 sm:w-auto"
                  name="assignedStopManagerFilter"
                />
              </div>
            </div>
          </div>
          <div
            class="h-56 w-full overflow-y-auto rounded-lg border border-primary-200 bg-background-50"
          >
            <ul class="divide-y divide-primary-100">
              @for (
                stopManager of filteredAssignedStopManagers();
                track stopManager.edufsUsername
              ) {
                <li
                  class="flex items-center justify-between px-4 py-2 text-sm text-text-950 hover:bg-primary-100"
                >
                  <div>
                    {{ stopManager.lastName + ' ' + stopManager.firstName }}
                  </div>
                  <div class="flex items-center">
                    <span
                      class="cursor-pointer text-lg font-bold text-accent-600"
                      (click)="removeStopManager(stopManager.edufsUsername)"
                      >−</span
                    >
                  </div>
                </li>
              }
              @if (filteredAssignedStopManagers().length === 0) {
                <li class="px-4 py-2 text-sm text-text-900">
                  No stop managers assigned
                </li>
              }
            </ul>
          </div>
        </div>

        <!-- Available Stop Managers (Right Side) -->
        <div class="w-full md:w-1/2">
          <div class="mb-2 text-sm font-medium text-text-950">
            Available Stop Managers
          </div>
          <!-- Available Stop Managers Filter -->
          <div class="mb-4">
            <div
              class="mb-2 flex flex-col items-start gap-4 sm:flex-row sm:items-center sm:justify-between"
            >
              <div class="flex w-full items-center sm:w-auto">
                <label
                  for="availableStopManagerFilter"
                  class="mr-2 flex-shrink-0 text-sm font-medium text-text-950"
                  >Search:</label
                >
                <input
                  id="availableStopManagerFilter"
                  type="text"
                  [ngModel]="availableStopManagerFilterText()"
                  (ngModelChange)="availableStopManagerFilterText.set($event)"
                  placeholder="Name or username"
                  class="w-full rounded-lg border border-primary-200 bg-background-50 p-1.5 text-sm text-text-950 focus:border-primary-300 focus:ring-primary-300 sm:w-auto"
                  name="availableStopManagerFilter"
                />
              </div>
            </div>
          </div>
          <div
            class="h-56 w-full overflow-y-auto rounded-lg border border-primary-200 bg-background-50"
          >
            <ul class="divide-y divide-primary-100">
              @for (
                stopManager of stopManagersNotInStop();
                track stopManager.edufsUsername
              ) {
                <li
                  class="flex items-center justify-between px-4 py-2 text-sm text-text-950 hover:bg-primary-100"
                >
                  <div>
                    {{ stopManager.lastName + ' ' + stopManager.firstName }}
                  </div>
                  <div class="flex items-center">
                    <span
                      class="cursor-pointer text-lg font-bold text-primary-600"
                      (click)="addStopManager(stopManager.edufsUsername)"
                      >+</span
                    >
                  </div>
                </li>
              }
              @if (stopManagersNotInStop().length === 0) {
                <li class="px-4 py-2 text-sm text-text-900">
                  No more stop managers available
                </li>
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
}
