<div
  class="mx-auto mt-4 w-full max-w-5xl rounded-lg bg-background-100 p-4 shadow-lg sm:p-6 md:mt-10"
>
  @if (stopGroup().id == -1) {
    <h4 class="text-xl text-text-950">New Stop Group</h4>
  } @else {
    <h4 class="text-xl text-text-950">Edit Stop Group</h4>
  }
  @if (isLoading()) {
    <div class="flex h-32 items-center justify-center">
      <app-loader></app-loader>
    </div>
  } @else {
    <form (submit)="submitStopGroupDetail()" class="mt-4">
      <app-stop-group-general-info [(stopGroup)]="stopGroup" />

      <app-stop-group-stop-selector
        [(stopGroup)]="stopGroup"
        [allStops]="stops()"
      />

      @if (errorMessage() != null) {
        <p class="text-red-700">{{ errorMessage() }}</p>
      }
      <div class="mt-6 flex flex-col gap-2 sm:flex-row sm:items-center">
        <button
          type="submit"
          class="btn btn-primary btn-sm w-full gap-2 sm:w-auto"
        >
          Submit
        </button>

        <button
          (click)="goBack()"
          type="button"
          class="btn btn-sm w-full bg-primary-200 text-text-800 hover:bg-primary-300 sm:w-auto"
        >
          Cancel
        </button>
        @if (stopGroup().id != -1) {
          <button
            (click)="deleteAndGoBack()"
            type="button"
            class="btn btn-sm w-full gap-2 bg-red-600 hover:bg-accent-300 sm:ml-auto sm:w-auto"
          >
            Delete
          </button>
        }
      </div>
    </form>
  }
</div>
