<div class="relative inline-block text-left">
  <!-- Dropdown Button -->
  <button
    (click)="toggleDropdown()"
    type="button"
    class="inline-flex items-center justify-center gap-x-2 rounded-md px-4 py-2 text-sm font-medium text-text-900 focus:outline-none"
  >
    Admin
    <!-- Chevron Icon -->
    <svg
      [ngClass]="{'rotate-180 transform': isOpen}"
      class="h-4 w-4 text-text-900 transition-transform duration-200"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"
      fill="currentColor"
      aria-hidden="true"
    >
      <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
    </svg>
  </button>

  <!-- Dropdown Menu -->
  @if (isOpen) {
    <div
      class="absolute right-0 z-[9999] mt-2 w-40 origin-top-right rounded-md bg-background-50 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
    >
      <div class="py-1">
        @for(item of items; track $index) {
          <a
            (click)="selectItem(item)"
            class="block px-4 py-2 text-sm text-text-700 hover:bg-background-100 hover:text-text-900 cursor-pointer"
          >
            {{ item }}
          </a>
        }
      </div>
    </div>
  }

</div>
