<div class="w-full h-screen m-4 flex flex-col items-center">
  <div class="flex gap-5 flex-wrap mx-10">
    @for (division of divisionStore.getDivisions(); track $index) {
    <div class="w-64 p-6 border rounded-lg m-2 text-black bg-white flex flex-wrap flex-col justify-between">
      <div class="flex flex-nowrap justify-evenly">
        <div class="flex w-3/4">
          <p>{{ division.name }}</p>
        </div>
        <div class="w-8 h-8 rounded-md m-auto justify-self-end self-end" [style.background-color]="division.color">
        </div>
      </div>
      <img class="w-32 h-32 object-cover" [src]="baseUrl + '/divisions/' + division.id + '/image?timestamp=1234567890'"
        (error)="hideImage($event)" />
      <div class="flex text-white">
        <button
          class="shadow-lg mt-4 p-1.5 my-1 bg-primary-400 hover:bg-primary-500 border rounded border-transparent"
          [routerLink]="['/division']" [queryParams]="{
          id: division.id
        }">
          Details
        </button>
        <button class="shadow-lg ml-auto mt-4 p-1.5 my-1 bg-accent-500 hover:bg-accent-600 border rounded border-transparent"
          (click)="showDeletePopup(division.id)">
          Delete
        </button>
      </div>
    </div>
    }
  </div>
  <button class="text-white p-1.5 mt-5 bg-primary-400 hover:bg-primary-500 border rounded border-transparent ml-12"
    [routerLink]="['/division']">
    New Division
  </button>
</div>

@if (showRemoveDivisionPopup()) {
<app-delete-popup [title]="'Delete Division'" [message]="'Are you sure you want to delete this division?'"
  (cancel)="showRemoveDivisionPopup.set(false)" (removeConfirmed)="deleteDivision()" />
}