<header class="rounded-md bg-gray-100 p-4 shadow-lg">
  <div class="w-full">
    <!-- Logo and Title Section -->
    <div class="flex w-full flex-col">
      <!-- HTL Leonding Image - Left aligned -->
      <img
        src="assets/logo.png"
        alt="HTL Leonding"
        class="mb-8 h-12 cursor-pointer self-center"
        (click)="router.navigate(['main'])"
      />

      <!-- Text below the image - Center aligned -->
      @if (showWelcomeText) {
        <div class="flex items-center justify-center">
          <h1
            class="animate-gradient bg-gradient-to-r from-informatic-blue via-electronics-red to-medicin-technology-yellow bg-clip-text text-center text-3xl font-bold text-transparent"
          >
            Willkommen am <br />
            @if (currentHour < 17) {
              Tag der offenen Tür!
            } @else {
              Abend der offenen Tür!
            }
          </h1>
        </div>
      }
    </div>
  </div>
</header>
