services:
  frontend:
    image: haasluca/tadeot-frontend:latest
    container_name: tadeot-frontend
    ports:
      - "4300:80"
    environment:
      - BACKEND_URL=http://localhost:5001/v1
    networks:
      - tadeotnet
    depends_on:
      - backend

  dashboard:
    image: haasluca/tadeot-dashboard:latest
    container_name: tadeot-dashboard
    ports:
      - "4200:80"
    environment:
      - BACKEND_URL=http://localhost:5001/v1
    networks:
      - tadeotnet
    depends_on:
      - backend

  backend:
    image: haasluca/tadeot-backend:latest
    container_name: tadeot-backend
    ports:
      - "5001:5000"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=tadeot;Username=root;Password=test;
      - ASPNETCORE_URLS=http://+:5000
    networks:
      - tadeotnet
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:latest
    container_name: tadeot-postgres
    ports:
      - "4100:5432"
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=test
      - POSTGRES_DB=tadeot
    volumes:
      - tadeot-data:/var/lib/postgresql/data
    networks:
      - tadeotnet
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U root -d tadeot"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

volumes:
  tadeot-data:

networks:
  tadeotnet:
    name: tadeotnet
