<div class="px-10 pt-2 top-10 flex justify-center">
  <button
    [routerLink]="['/stopgroup']"
    class="text-white px-4 py-2 mr-5 mt-5 bg-primary-400 hover:bg-primary-500  appearance-none border rounded border-transparent"
  >
    Add StopGroup
  </button>
  <button
    [routerLink]="['/stop']"
    class="text-white px-4 py-2 mr-5 mt-5 bg-primary-400 hover:bg-primary-500  appearance-none border rounded border-transparent"
  >
    Add Stop
  </button>
  <app-filter
    [elements]="divisionStore.getDivisions()"
    (filter)="divisionFilter.set($event)"
    class="mt-5"
  ></app-filter>
</div>
<div>
  <div class="p-5 m-5">
    @for (stop of filteredStops(); track $index) {
    <div
      class="w-100 p-6 mr-32 ml-32 shadow-xl rounded-lg m-2 text-black bg-white justify-between"
    >
      <div class="flex flex-nowrap justify-between">
        <p>{{ stop.name }}</p>
        <button
          class="text-white shadow-lg p-1.5 mr-5 bg-primary-400 hover:bg-primary-500  border rounded border-transparent"
          [routerLink]="['/stop']"
          [queryParams]="{id: stop.id}"
        >
          Details
        </button>
      </div>
      @if(stop.stopGroupIds.length > 0) {
      <div class="shadow-xl rounded-xl mt-5 p-5">
        <p class="text-xl">Stopgroups</p>
        @for(sgId of stop.stopGroupIds; track $index) { @if(getGroupById(sgId))
        {
        <div class="pt-5 pl-5 flex flex-nowrap justify-between">
          <p>{{ getGroupById(sgId)?.name }}</p>
          <div>
            <button
              class="text-white shadow-lg p-1.5 mr-5 bg-primary-400 hover:bg-primary-500  border rounded border-transparent"
              (click)="selectStopgroupToRemove(stop.id, sgId)"
            >
              Remove
            </button>
            <button
              class="text-white p-1.5 my-1 bg-primary-400 hover:bg-primary-500  appearance-none border rounded border-transparent"
              [routerLink]="['/stopgroup']"
              [queryParams]="{
                id: getGroupById(sgId)?.id
              }"
            >
              Details
            </button>
          </div>
        </div>
        } }
      </div>
      }
    </div>
    }
  </div>
</div>

@if (showRemoveStopgroupPopup()) {
<app-delete-popup
  [title]="'Remove Stopgroup'"
  [message]="'Are you sure you want to remove this stop from the stop group?'"
  (cancel)="showRemoveStopgroupPopup.set(false)"
  (removeConfirmed)="removeStopgroup()"
/>
}
