<app-header [showWelcomeText]="false" />
<div class="min-h-screen w-full bg-gray-50 flex justify-start p-4">


  <div class="max-w-3xl mx-auto text-center space-y-8 mt-16">
    <h1 class="text-4xl font-bold tracking-tighter sm:text-5xl md:text-6xl lg:text-7xl animate-gradient bg-gradient-to-r from-informatic-blue via-electronics-red to-medicin-technology-yellow bg-clip-text text-transparent">
      Wir sind bald zurück
    </h1>

    <p class="text-xl font-medium max-w-[600px] mx-auto text-black">
      Unsere Website wird aktualisiert und ist am nächsten Tag der offenen Tür wieder verfügbar.
    </p>

  </div>
</div>
