<div>
  <h3>Stop Details</h3>
  @if(stopId() != -1) {
    <h4>Stop ID: {{ stopId() }}</h4>
  } @else {
    <h4>New Stop</h4>
  }
  <form (submit)="submitStopDetail()">
    <div>
      <label for="name">Description</label>
      <input
        type="text"
        [value]="description()"
        [(ngModel)]="description"
        name="description"
        id="description"
      />
    </div>

    <div>
      <label for="roomNr">Room Number</label>
      <input
        type="text"
        [value]="roomNr()"
        [(ngModel)]="roomNr"
        name="roomNr"
        id="roomNr"
      />
      @if (stopGroupId() != null) {
        <p>StopGroup ID: {{ stopGroupId() }}</p>
      }
    </div>
      <h4></h4>
    <div>

    </div>

    <label for="division">Division</label>
    <select id="division" [(ngModel)]="divisionId" name="division">
      @for (division of divisions(); track $index) {
        <option [value]="division.divisionID">{{ division.name }}</option>
      }
    </select>

    @if (errorMessage() != null) {
      <p class="text-danger">{{ errorMessage() }}</p>
    }
    <button (click)="deleteAndGoBack()">Delete and go back</button>
    <button type="submit">Submit</button>
  </form>
  <button [routerLink]="['/stopgroups']">Go Back (without submit)</button>
</div>
