<div>
  <h3>Division Details</h3>
  @if(divisionId()) {
    <h4>Division ID: {{ divisionId() }}</h4>
  } @else {
    <h4>New Division</h4>
  }

  <img
    [src]="this.baseUrl + '/divisions/' + this.divisionId"
    alt="Division Picture will load here"
  />

  <form (submit)="submitDivisionDetail()">
    <div class="input-field">
      <label for="name">Name</label>
      <input
        type="text"
        [value]="name()"
        [(ngModel)]="name"
        name="name"
        id="name"
      />
    </div>

    <label for="color">Color</label>
    <input
      type="color"
      [value]="color()"
      [(ngModel)]="color"
      name="color"
      id="color"
    />
    <div class="w-100 h-100" s [style.backgroundColor]="color()"></div>

    <label for="file">Upload File</label>
    <input
      type="file"
      class="mb-4 border rounded px-4 py-2 text-gray-700"
      id="file"
      accept=".jpg, .jpeg, .png, .svg"
      (change)="onFileChange($event)"
    />
    @if (errorMessage() != null) {
    <p class="text-danger">{{ errorMessage() }}</p>
    }

    <button>Delete and go back</button>
    <button type="submit">Submit</button>
  </form>

  <button [routerLink]="['/divisions']">Go Back (without submit)</button>
</div>
