<div class="mb-5">
  <app-navbar></app-navbar>
</div>
<div>
  <h3>Division Details</h3>
  @if(divisionId() !== -1) {
    <h4>Division ID: {{ divisionId() }}</h4>
  }

  <form (submit)="submitDivisionDetail()">
    <div class="input-field">

    </div>

    <label for="color">Color</label>
    <input
    type="color"
    [value]="color()"
    [(ngModel)]="color"
    id="color"
    />
    <div
    class="w-100 h-100"s
    [style.backgroundColor]="color()">
    </div>
    <button>Delete and go back</button>
    <button type="submit">Submit</button>
  </form>

  <button [routerLink]="['/divisions']">Go Back (without submit)</button>

</div>
