<div class="m-4 flex justify-between px-10 pt-2">
  <div class="flex items-center space-x-4">
    <button
      (click)="showGroupPopUp(-1)"
      class="btn btn-primary"
    >
      Add StopGroup
    </button>

    <button
      [routerLink]="['/stop']"
      class="btn btn-primary"
    >
      Add Stop
    </button>

    <button
      (click)="toggleShowStops()"
      class="btn btn-primary disabled:btn-disabled"
    >
      Collapse All
    </button>

    <div class="flex items-center">
      <input
        (click)="onlyPublicGroups.set(!onlyPublicGroups())"
        class="checkbox mr-2 h-4 w-4"
        type="checkbox"
        value="Show Private Groups"
        id="only-public-groups"
      />
      <label for="only-public-groups" class="text-text-950">Show Private Groups</label>
    </div>
  </div>

  <div class="flex items-center space-x-4">
    <button
      (click)="saveChanges()"
      [disabled]="!hasChanged()"
      class="btn btn-primary !text-text-900 disabled:btn-disabled cursor-pointer"
    >
      Save Changes
    </button>
    <button
      (click)="initialiseData()"
      [disabled]="!hasChanged()"
      class="btn btn-primary !text-text-950 disabled:btn-disabled cursor-pointer"
    >
      Cancel
    </button>
  </div>
</div>

<div class="flex text-text-950">
  <div (cdkDropListDropped)="dropGroup($event)" cdkDropList class="w-2/3">
    @for (group of stopGroupStore.getStopGroups(); track group) {
      @if (!onlyPublicGroups() || group.isPublic) {
        <div class="dark:border-accent-400 m-10 rounded-xl bg-background-100 p-5 shadow-lg shadow-secondary-200 dark:border" cdkDrag>
          <div class="bg-base-400 collapse collapse-arrow">
            <input type="checkbox" class="peer collapse-checkbox" />
            <div
              class="collapse-title
             bg-primary text-primary-content
             peer-checked:bg-secondary peer-checked:text-secondary-content
             z-10 pointer-events-none"
            >
              <div class="flex justify-between items-center w-full">
                <div>
                  <p class="font-bold">{{ group.name }}</p>
                  <p>{{ group.description }}</p>
                </div>

                <button
                  type="button"
                  class="my-1 h-10 btn btn-primary pointer-events-auto"
                  (click)="$event.stopPropagation(); showGroupPopUp(group.id)"
                >
                  Details
                </button>
              </div>
            </div>
            <div
              class="collapse-content bg-primary text-primary-content peer-checked:bg-secondary peer-checked:text-secondary-content"
            >
              <div
                class="m-5 flex flex-col rounded-xl p-4 shadow-lg shadow-secondary-200 dark:border dark:border-accent-400"
                cdkDropList
                [cdkDropListConnectedTo]="getDropGroups()"
                [cdkDropListData]="group.stopIds"
                (cdkDropListDropped)="dropStop($event)"
                id="{{ 'group-' + group.id }}"
              >
                <p>Stops</p>
                @for (stopId of group.stopIds; track stopId) {
                  <div class="mb-1 flex cursor-grab items-center justify-between rounded-l p-3" cdkDrag>
                    <p class="ml-5">{{ stopStore.getStopById(stopId)?.name }}</p>
                    <div>
                      <button
                        class="m-5 my-1 btn btn-error btn-outline"
                        (click)="selectStopToRemove(stopId, group)"
                      >
                        Remove
                      </button>
                      <button
                        class="my-1 btn btn-secondary"
                        [routerLink]="['/stop']"
                        [queryParams]="{
                      id: stopId,
                    }"
                      >
                        Details
                      </button>
                    </div>
                  </div>
                }
              </div>
            </div>
          </div>
        </div>
      }
    }
  </div>
  <div class="w-1/3">

    <div
      [cdkDropListConnectedTo]="getDropGroups()"
      cdkDropList
      class="m-10 h-[80vh] overflow-x-scroll rounded-xl bg-background-100 p-5 shadow-lg shadow-secondary-200 dark:border dark:border-accent-400"
      id="all-stops"
    >
    <div class="flex justify-between items-center">
      <p class="mb-3 font-semibold">Unassigned Stops</p>
      <app-filter (filter)="divisionFilter.set($event)" [elements]="divisionStore.getDivisions()"></app-filter>
    </div>
      @for (stop of filteredStops(); track stop.id) {
        <div class="mb-1 flex cursor-grab items-start gap-2 rounded-l py-3" cdkDrag>
          <p class="flex-1 break-words text-left">{{ stop.name }}</p>
          <button
            class="my-1 btn btn-secondary"
            [routerLink]="['/stop']"
            [queryParams]="{
              id: stop.id,
            }"
          >
            Details
          </button>
        </div>
      }
    </div>
  </div>
  <div class="fixed bottom-4 right-4 w-96">
    @for (info of infos(); track info) {
      <app-info-popup (deleted)="deleteInfo($event)" [info]="info"></app-info-popup>
    }
  </div>
</div>
@if (showRemoveStopPopup()) {
  <app-delete-popup
    [title]="'Remove Stop'"
    [message]="'Are you sure you want to remove this stop from the stop group?'"
    (cancel)="showRemoveStopPopup.set(false)"
    (removeConfirmed)="removeStop()"
  />
}
@if (showRemoveGroupPopup()) {
  <app-delete-popup
    [title]="'Delete StopGroup'"
    [message]="'Are you sure you want to delete this stopGroup?'"
    (cancel)="showRemoveGroupPopup.set(false)"
    (removeConfirmed)="deleteGroup()"
  />
}
@if (showGroupDetailPopUp()) {
  <app-stopgroup-details
    [id]="groupIdDetail"
    (cancel)="showGroupDetailPopUp.set(false)"
  />
}
