<div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50" (click)="onClose()">
    <div class="bg-white rounded-lg shadow-lg w-full max-w-lg mx-4 p-6 relative" (click)="$event.stopPropagation()">
      <button class="absolute top-2 right-2 text-gray-600 hover:text-gray-900" (click)="onClose()"></button>
      
      <h2 class="text-2xl font-bold text-gray-800">{{ title }}</h2>
      
      <hr class="my-4 border-gray-300">
      
      <p class="text-gray-700 font-medium mb-4">{{ description }}</p>
  
      <div>
        <hr class="my-4 border-gray-300">
        <div class="flex justify-end space-x-4 mt-4">
            @if(isTour) {
                <button class="bg-orange-500 text-white py-2 px-4 rounded-lg hover:bg-orange-400 w-[6.5rem]" (click)="onTourJoin()" routerLinkActive="router-link-active">Join Tour</button>
              }
          <button class="bg-electronics-red text-white py-2 px-4 rounded-lg hover:bg-red-500 w-[6.5rem]" (click)="onClose()">Close</button>
        </div>
      </div>
    </div>
  </div>
  