@if (isLoggedIn){
<span>You are logged in</span>
<button class="bg-primary-50" (click)="logout()">Logout</button>
} @else {
<span>You are not logged in</span>
<button class="bg-primary-500" (click)="login()">Login</button>
}

<button class="bg-primary-50" (click)="goToPage()">Go to correlating page</button>

<div>
  <button
    mat-raised-button
    (click)="getRole('at-least-student')"
    [disabled]="loading()"
    color="primary"
  >
    Check if backend recognizes you as a student
  </button>
  <button
    mat-raised-button
    (click)="getRole('is-teacher')"
    [disabled]="loading()"
    color="primary"
  >
    Check if backend recognizes you as a teacher
  </button>
  <button
    mat-raised-button
    (click)="getRole('is-admin')"
    [disabled]="loading()"
    color="primary"
  >
    Check if backend recognizes you as an admin
  </button>
  <button
    mat-raised-button
    (click)="getRole('token-data')"
    [disabled]="loading()"
    color="primary"
  >
    Get Token Data
  </button>
  <p>{{ response() }}</p>
</div>
