<div class="flex flex-col justify-center items-center bg-gray-100">
  @for (division of divisions(); track $index) {
  <div
    class="w-64 p-6 border rounded-lg m-2 text-black bg-white flex flex-col justify-between"
  >
    <div class="flex flex-nowrap">
      <div class="flex justify-evenly w-3/4">
        <p>{{ division.divisionID }}</p>
        <p>{{ division.name }}</p>
      </div>
      <div
        class="w-10 h-10 rounded-md m-auto mr-3 justify-self-end self-end"
        [style.background-color]="division.color"
      ></div>
    </div>

  <div class="flex">
    <button
      class="text-white shadow-lg p-1.5 my-1 bg-blue-500 border rounded border-transparent"
      [routerLink]="['/division']"
      [queryParams]="{ id: division.divisionID, name: division.name, color: division.color }">
      Details
    </button>
  </div>

  </div>
  }
  <button
    class="text-white p-1.5 my-1 bg-gray-700 border rounded border-transparent"
    [routerLink]="['/division']"
  >
    New Division
  </button>
</div>
