<div class="flex h-screen w-full flex-col space-y-reverse overflow-y-scroll bg-gray-50">
  <div>
    <app-header [showWelcomeText]="false"></app-header>
  </div>
  <app-breadcrumb [name]="parentStopGroup().name" [stopGroupId]="parentStopGroup().stopGroupID" />

  <div class="flex flex-col justify-center">
    @if (stops().length > 1) {
      <app-description-container [title]="parentStopGroup().name" [description]="parentStopGroup().description" [divisionIds]="divisionIds()" />
      @for (stop of stops(); track stop.stopID) {
        <app-stop-card
          (onChange)="setProgress()"
          (openStopDescriptionPage)="openStopDescriptionPage(stop)"
          [stop]="stop"
          class="mt-4"
          [id]="stop.stopID.toString()"
          [color]="getColorOfStop(stop)"
          [ngClass]="{ 'mb-28': stops().indexOf(stop) === stops().length - 1 }"
        ></app-stop-card>
      }
    } @else if (stops().length === 1) {
      <app-description-container [title]="stops()[0].name" [description]="stops()[0].description" [roomNr]="stops()[0].roomNr" />
    } @else {
      <app-description-container [title]="parentStopGroup().name" [description]="parentStopGroup().description" />
    }
  </div>
  <div class="fixed bottom-8 left-0 right-0 mx-4">
    <app-navbar [isStationMode]="true" />
  </div>
</div>
