<div class="sticky">
  <nav class="bg-htl-orange text-white p-2 flex items-center space-x-10">
    <div class="flex space-x-10 w-full justify-start">
      <div class="text-lg">Admin Dashboard</div>
      @if(isAdmin()) {
        <button class="justify-start" [routerLink]="['/stopgroups']">StopGroups</button>
        <button [routerLink]="['/stops']">Stops</button>
        <button [routerLink]="['/divisions']">Divisions</button>
      }
    </div>
    @if (!isAdmin()) {
      <button (click)="logout()" class="justify-start">
        Logout
      </button>
    }
    @else {
      <app-admin-dropdown />
    }
  </nav>
</div>
