<div class="m-6">
  <h1 class="mb-4 text-4xl">StopGroup Details</h1>
  @if(stopGroupId() != -1) {
  <h4 class="text-2xl">StopGroup ID: {{ stopGroupId() }}</h4>
  } @else {
  <h4 class="text-2xl">New StopGroup</h4>
  }
  <form (submit)="submitStopGroupDetails()" class="mt-4">
    <div>
      <label for="name" class="mr-4">Name</label>
      <input
        class="mb-4 border rounded px-4 py-2"
        type="text"
        [value]="name()"
        [(ngModel)]="name"
        name="name"
        id="name"
      />
    </div>
    <div class="mb-4">
      <label for="description" class="block mb-2 text-gray-700">Description</label>
      <textarea
        class="border rounded px-4 py-2 text-gray-700 w-full"
        [value]="description()"
        [(ngModel)]="description"
        name="description"
        id="description"
        rows="4"
      ></textarea>
    </div>
    <div>
      <label for="isPublic" class="mr-4">Is public?</label>
      <input
        class="mb-4 border rounded px-4 py-2"
        type="checkbox"
        id="isPublic"
        [(ngModel)]="isPublic"
        name="isPublic"
      />
    </div>

    @if (errorMessage() != null) {
    <p class="text-red-700">{{ errorMessage() }}</p>
    }
  </form>
  <div>
    <button type="submit" class="bg-htl-orange p-2 rounded text-white">
      Submit
    </button>

    <button
      [routerLink]="['/stopgroups']"
      class="bg-htl-orange ml-4 p-2 rounded text-white"
    >
      Cancel
    </button>

    @if (stopGroupId() != -1) {
    <button
      (click)="deleteAndGoBack()"
      class="mt-4 ml-4 bg-htl-orange p-2 rounded text-white"
    >
      Delete and go back
    </button>
    }
  </div>
</div>
