<nav class="flex h-14 w-full items-center justify-evenly rounded-t-lg bg-white shadow-2xl">
  <div>
    <button (click)="router.navigate(['main'])" class="text-xl" [ngClass]="mode == 'station' ? 'text-orange-500' : 'text-black'">Station</button>
  </div>
  <div>
    <button (click)="router.navigate(['map'])" class="text-xl" [ngClass]="[mode == 'map' ? 'text-orange-500' : 'text-black']">Karte</button>
  </div>
  <div>
    <button (click)="router.navigate(['about'])" class="text-xl" [ngClass]="[mode == 'about' ? 'text-orange-500' : 'text-black']">About</button>
  </div>
</nav>
