/* Add any component-specific styles here */
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 0.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background-color: white;
  opacity: 0.8;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Gradient text styles */
.bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.from-red-700 {
  --tw-gradient-from: #b91c1c;
  --tw-gradient-stops:
    var(--tw-gradient-from), var(--tw-gradient-to, rgba(185, 28, 28, 0));
}

.to-orange-500 {
  --tw-gradient-to: #f97316;
}

.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}

.text-transparent {
  color: transparent;
}
