<div
  class="flex min-h-screen w-full touch-pan-y select-none flex-col space-y-reverse overflow-y-scroll bg-gray-50"
>
  <div>
    <app-header [showWelcomeText]="false"></app-header>
  </div>
  <app-breadcrumb
    [name]="parentStopGroup().name"
    [stopGroupId]="parentStopGroup().id"
  />

  <button
    class="mb-3 ml-4 flex w-fit items-center rounded-2xl bg-gray-400 px-4 py-2 text-white shadow-md transition-colors hover:bg-gray-500"
    (click)="goBack()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="mr-2"
    >
      <path d="M19 12H5M12 19l-7-7 7-7" />
    </svg>
    Zurück
  </button>

  <div class="flex flex-col justify-center">
    @if (stops().length > 1) {
      <app-description-container
        [title]="parentStopGroup().name"
        [description]="parentStopGroup().description"
        [divisionIds]="divisionIds()"
      />
      @for (stop of getSortedStops(); track stop.id) {
        <app-stop-card
          (onChange)="onToggleStop(stop.id)"
          (openStopDescriptionPage)="openStopDescriptionPage(stop)"
          [stop]="stop"
          class="mt-4"
          [checked]="isStopFinished(stop.id)"
          [colors]="getColorsOfStop(stop)"
          [ngClass]="{ 'mb-28': stops().indexOf(stop) === stops().length - 1 }"
        ></app-stop-card>
      }
    } @else if (stops().length === 1) {
      <app-description-container
        class="mb-28"
        [title]="stops()[0].name"
        [description]="stops()[0].description"
        [roomNr]="stops()[0].roomNr"
      />
    } @else {
      <app-description-container
        class="mb-28"
        [title]="parentStopGroup().name"
        [description]="parentStopGroup().description"
      />
    }
  </div>
  <div class="fixed bottom-0 left-0 right-0 mx-2">
    <app-navbar [mode]="'station'" />
  </div>
</div>
