<div class="text-text-950">
  @if (teacher()) {
    <h1 class="p-10 text-2xl font-semibold text-center">Your stops:</h1>
    @for (stop of stops(); track $index) {
        <div class="m-2 rounded-lg bg-background-100 p-10 shadow-lg shadow-secondary-200 dark:border dark:border-accent-400 w-2/3 ml-auto mr-auto">
          <div class="flex justify-between">
            <h1 class="font-bold">{{ stop.name }}</h1>
            <button
              class="btn btn-primary"
              [routerLink]="['/stop']"
              [queryParams]="{ id: stop.id }"
            >
              Details
            </button>
          </div>
        </div>
    } @empty {
      <h1 class="p-10 text-2xl font-semibold text-center">You have no assigned stops.</h1>
    }
  }
</div>
