@if (teacher()) {
  <h1 class="font-semibold text-xl p-10">Your stops: </h1>
  @for (stopId of teacher()?.stopAssignments; track $index) {
    @if (stopStore.getStopById(stopId)) {
      <div class="p-10 rounded-lg border shadow-lg m-2 text-black bg-white">
        <div class="flex justify-between">
          <h1 class="font-bold"> {{stopStore.getStopById(stopId)?.name}} </h1>
          <button
            class="text-white shadow-lg p-1.5 mr-5 bg-htl-orange border rounded border-transparent"
            [routerLink]="['/stop']"
            [queryParams]="{id: stopId}">Details
          </button>
        </div>
      </div>
    }
  }
}
