<div class="mb-4">
  <div class="mb-4 mt-2">
    <label for="group-name" class="mb-1 block text-sm font-medium"
      >Name <span aria-hidden="true">*</span></label
    >
    <input
      class="input input-bordered w-full"
      type="text"
      [value]="stopGroup().name"
      (input)="updateName($any($event.target).value)"
      name="group-name"
      id="group-name"
      required
    />
  </div>

  <div class="mb-4">
    <label for="group-description" class="mb-1 block text-sm font-medium"
      >Description <span aria-hidden="true">*</span></label
    >
    <textarea
      class="textarea textarea-bordered w-full text-sm"
      [value]="stopGroup().description"
      (input)="updateDescription($any($event.target).value)"
      name="group-description"
      id="group-description"
      rows="4"
      required
    ></textarea>
  </div>

  <div class="mb-2 flex items-center gap-2">
    <input
      class="checkbox-primary checkbox checkbox-sm"
      type="checkbox"
      [checked]="stopGroup().isPublic"
      (change)="updateIsPublic($any($event.target).checked)"
      name="isPublic"
      id="isPublic"
    />
    <label for="isPublic" class="text-sm font-medium"
      >Public (shown in the visitor app)</label
    >
  </div>
</div>
