<div class="flex justify-center">
  <div
    class="m-6 inline-flex flex-col items-center rounded-lg bg-background-100 p-4 text-text-950 shadow-lg shadow-secondary-200 dark:border dark:border-white"
  >
    @if (divisionId() == -1) {
      <h4 class="text-2xl">New Division</h4>
    } @else {
      <input
        class="mb-4 rounded bg-primary-200 px-4 py-2 text-text-950"
        type="text"
        [value]="name()"
        [(ngModel)]="name"
        name="name"
        id="name"
        [size]="name().length"
      />
    }
    @if (filePreview != null) {
      <div class="mt-4">
        <p>File Preview</p>
        <img class="h-32 w-32 object-cover" [src]="filePreview" alt="File preview" />
      </div>
    } @else {
      <img
        class="h-32 w-32 object-cover"
        [src]="baseUrl + '/divisions/' + divisionId() + '/image?timestamp=1234567890'"
        alt="Division Picture will load here"
      />
    }
    <form (submit)="submitDivisionDetail()" class="flex flex-col items-center">
      <div>
        <label for="color" class="mr-4">Color</label>
        <input class="mb-4" type="color" [value]="color()" [(ngModel)]="color" name="color" id="color" />
        <div class="w-100 h-100" [style.backgroundColor]="color()"></div>
      </div>

      <div>
        <input class="rounded py-2" type="file" id="file" accept=".jpg, .jpeg, .png, .svg" (change)="onFileChange($event)" />

        @if (errorMessage() != null) {
          <p class="text-red-700">{{ errorMessage() }}</p>
        }
      </div>
      <div>
        <button type="submit" class="mr-4 rounded bg-primary-200 p-2 hover:bg-primary-300">Submit</button>
        <button [routerLink]="['/divisions']" class="mr-4 mt-4 rounded bg-gray-400 hover:bg-gray-500 p-2">Cancel</button>
        @if (divisionId() != -1) {
          <button (click)="deleteAndGoBack()" class="hover:bg-accent-300 mr-4 rounded bg-accent-200 p-2">Delete</button>
          <button (click)="deleteImage()" class="bg-accent-200 mt-4 rounded p-2 text-text-950 hover:bg-accent-300">Delete Image</button>
        }
      </div>
    </form>
  </div>
</div>
