<div class="mb-4">
  <h1 class="text-text-950">Stop Groups</h1>
  @if (isAdmin()) {
    <div class="mb-6 mt-4">
      <form>
        <label for="stopgroups" class="block text-sm font-medium text-text-950"
          >Add Stop Group</label
        >
        <select
          id="stopgroups"
          (change)="onStopGroupSelect($event)"
          class="block w-full rounded-lg border border-primary-200 bg-background-50 p-2.5 text-sm text-text-950 focus:border-primary-300 focus:ring-primary-300"
        >
          <option value="0" selected>Select Stop Group</option>
          @for (group of inactiveStopGroups(); track group.id) {
            <option value="{{ group.id }}">{{ group.name }}</option>
          }
        </select>
      </form>
    </div>
    <div class="mb-2 text-sm font-medium text-text-950">
      Selected Stop Groups
    </div>
    <div
      class="w-full overflow-y-auto rounded-lg border border-primary-200 bg-background-50"
    >
      <ul class="divide-y divide-primary-100">
        @for (id of stop().stopGroupIds; track $index) {
          <li
            class="cursor-pointer px-4 py-2 text-sm text-text-950 hover:bg-primary-100"
            (click)="onStopGroupRemove(id.toString())"
          >
            {{ getStopGroupById(id)!.name }}
          </li>
        }
        @if (stop().stopGroupIds.length === 0) {
          <li class="px-4 py-2 text-sm text-text-900">
            No stop groups assigned
          </li>
        }
      </ul>
    </div>
  } @else {
    <div class="mt-4">
      @if (stop().stopGroupIds.length > 0) {
        <div class="ml-1 flex flex-wrap gap-2">
          @for (stopGroupId of stop().stopGroupIds; track $index) {
            <span
              class="inline-flex items-center rounded-full bg-primary-100 px-3 py-1 text-sm font-medium text-primary-800 shadow-sm"
            >
              {{ getStopGroupById(stopGroupId)!.name }}
            </span>
          }
        </div>
      } @else {
        <p class="ml-4 text-sm text-text-900">No stop groups assigned</p>
      }
    </div>
  }
</div>

@if (showRemoveStopGroupPopup()) {
  <app-delete-popup
    [title]="'Remove Stop Group'"
    [message]="'Are you sure you want to remove this stop group from the stop?'"
    (cancel)="showRemoveStopGroupPopup.set(false)"
    (removeConfirmed)="confirmStopGroupRemove()"
  />
}
