<div class="flex flex-col w-full h-screen justify-start bg-gray-50 overflow-y-scroll">
  <app-header [showWelcomeText]="true" />

  <div class="flex-grow mt-4 flex-col h-max flex items-center justify-center shadow-lg p-4 rounded-lg mx-4 bg-white ">
    <h2 class="text-xl self-start font-medium">
      {{ currentFloorSymbol() }}
    </h2>
    @for(image of images; track $index) {
      <div
         class="w-full h-full max-w-md max-h-[70vh] relative"
         [class.hidden]="currentFloor() !== $index">
        <img [ngSrc]="image"
             [alt]="'Stockwerk ' + ($index + 1)"
             class="w-full h-full object-contain" fill>
      </div>
    }
  </div>

  <div class="mt-4 mb-28 left-1/2 justify-evenly flex gap-4">
    <button
      (click)="navigate(-1)"
      [disabled]="currentFloor() === 0"
      class="px-4 py-2 bg-blue-600 text-white rounded-2xl disabled:opacity-50 flex items-center shadow-md"
    >
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-6 h-6">
        <polyline points="6 9 12 15 18 9"></polyline>
      </svg>
    </button>
    <button
      (click)="navigate(1)"
      [disabled]="currentFloor() === images.length - 1"
      class="px-4 py-2 bg-green-500 text-white rounded-2xl disabled:opacity-50 flex items-center shadow-md"
    >
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-6 h-6">
        <polyline points="18 15 12 9 6 15"></polyline>
      </svg>
    </button>
  </div>

  <div class="fixed bottom-8 left-0 right-0 mx-4 z-10">
    <app-navbar [isStationMode]="false" />
  </div>
</div>
