<div class="flex flex-col w-full h-screen justify-start bg-gray-50 overflow-y-scroll">
  <div>
    <app-header></app-header>
  </div>
  @if (viewModeService.stationMode()) {
  <div class="flex flex-col justify-center">
    @for (group of groups(); track group.stopGroupID) {
        <app-guide-card
          class="mt-6"
          [stopGroup]="group"
          [id]="group.stopGroupID.toString()"
          [ngClass]="{'mb-28': groups().indexOf(group) === groups().length - 1}"
          (openStopPage)="openStopPage(group);">
        </app-guide-card>
    }
  </div>
  }
  <div class="fixed bottom-8 left-0 right-0 mx-4">
    <app-navbar />
  </div>
</div>
