<div class="m-6">
  @if (stop().id == -1) {
    <h4 class="text-xl">New Stop</h4>
  } @else {
    <input
      class="mb-4 resize-x rounded border px-4 py-2 text-xl text-gray-700"
      type="text"
      [value]="stop().name"
      [(ngModel)]="stop().name"
      name="name"
      id="name"
      [size]="stop().name.length || 1"
    />
  }
  <form (submit)="submitStopDetail()" class="mt-4">
    <div class="mb-4">
      <label for="description" class="mb-2 block text-gray-700">Description</label>
      <textarea
        class="w-full rounded border px-4 py-2 text-gray-700"
        [value]="stop().description"
        [(ngModel)]="stop().description"
        name="description"
        id="description"
        rows="4"
      ></textarea>
    </div>
    <div>
      <label for="roomNr" class="mr-4">Room Number</label>
      <input
        class="mb-4 rounded border px-4 py-2 text-gray-700"
        type="text"
        [value]="stop().roomNr"
        [(ngModel)]="stop().roomNr"
        name="roomNr"
        id="roomNr"
      />
    </div>
    <div class="w-1/2">
      <div class="mb-6 mt-4 flex items-baseline">
        <h1 class="my-2 text-lg font-medium">Students</h1>

        <form class="ml-10">
          <label for="students" class="block text-sm font-medium text-gray-900"></label>
          <select
            id="students"
            (change)="onStudentSelect($event)"
            class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500"
          >
            <option value="0" selected>Add Teacher</option>
            @for (student of studentsNotInStop(); track student.edufsUsername) {
              <option value="{{ student.edufsUsername }}">{{ student.lastName + ' ' + student.firstName }}</option>
            }
          </select>
        </form>
      </div>
    </div>
    <div class="flex flex-row">
      @for (student of studentStore.getStudentsByStopId(stop().id); track $index) {
        <app-chip
          class="mr-2 w-auto"
          [id]="student.edufsUsername"
          [value]="student.lastName + ' ' + student.firstName"
          (remove)="onStudentRemove($event)"
        >
        </app-chip>
      }
    </div>
    @if (isAdmin()) {
      <div class="w-1/2">
        <div class="mb-6 mt-4 flex items-baseline">
          <h1 class="my-2 text-lg font-medium">Teachers</h1>

          <form class="ml-10">
            <label for="teachers" class="block text-sm font-medium text-gray-900"></label>
            <select
              id="teachers"
              (change)="onTeacherSelect($event)"
              class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500"
            >
              <option value="0" selected>Add Teacher</option>
              @for (teacher of teachersNotInStop(); track teacher.edufsUsername) {
                <option value="{{ teacher.edufsUsername }}">{{ teacher.lastName + ' ' + teacher.firstName }}</option>
              }
            </select>
          </form>
        </div>
      </div>
      <div class="flex flex-row">
        @for (teacher of teachersByStopId(); track $index) {
          <app-chip
            class="mr-2 w-auto"
            [id]="teacher.edufsUsername"
            [value]="teacher.lastName + ' ' + teacher.firstName"
            (remove)="onTeacherRemove($event)"
          >
          </app-chip>
        }
      </div>
    }

    <h1 class="my-2 text-lg font-medium">StopGroups</h1>

    @for (stopGroupId of stop().stopGroupIds; track $index) {
      <p>{{ stopGroupStore.getStopGroupById(stopGroupId)!.name }}</p>
    }

    <div>
      <div class="mb-6 mt-4 flex items-baseline">
        <h1 class="my-2 text-lg font-medium">Divisions</h1>

        <form class="ml-10">
          <label for="divisions" class="block text-sm font-medium text-gray-900"></label>
          <select
            id="divisions"
            (change)="onDivisionSelect($event)"
            class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500"
          >
            <option value="0" selected>Add Division</option>
            @for (division of inactiveDivisions(); track division.id) {
              <option value="{{ division.id }}">{{ division.name }}</option>
            }
          </select>
        </form>
      </div>

      <div class="flex flex-wrap">
        @for (id of stop().divisionIds; track $index) {
          <app-chip
            class="mr-2"
            [id]="id.toString()"
            [color]="divisionStore.getDivisionById(id)!.color"
            [value]="divisionStore.getDivisionById(id)!.name"
            (remove)="onDivisionRemove($event)"
          ></app-chip>
        }
      </div>
    </div>

    @if (errorMessage() != null) {
      <p class="text-red-700">{{ errorMessage() }}</p>
    }
    <div>
      <button type="submit" class="mr-4 rounded bg-primary-200 p-2 text-white hover:bg-primary-300">Submit</button>

      <button (click)="goBack()" type="button" class="mr-4 mt-4 rounded bg-primary-200 p-2 text-white hover:bg-primary-300">Cancel</button>
      @if (stop().id != -1) {
        <button (click)="deleteAndGoBack()" type="button" class="mr-4 mt-4 rounded bg-primary-200 p-2 text-white hover:bg-primary-300">Delete</button>
      }
    </div>
  </form>
</div>
