<div class="m-6">
  @if (stop().id == -1) {
    <h4 class="text-xl">New Stop</h4>
  } @else {
    <input
      class="mb-4 border rounded px-4 py-2 resize-x text-gray-700 text-xl"
      type="text"
      [value]="stop().name"
      [(ngModel)]="stop().name"
      name="name"
      id="name"
      [size]="stop().name.length || 1"
    />
  }
  <form (submit)="submitStopDetail()" class="mt-4">
    <div class="mb-4">
      <label for="description" class="block mb-2 text-gray-700"
      >Description</label
      >
      <textarea
        class="border rounded px-4 py-2 text-gray-700 w-full"
        [value]="stop().description"
        [(ngModel)]="stop().description"
        name="description"
        id="description"
        rows="4"
      ></textarea>
    </div>
    <div>
      <label for="roomNr" class="mr-4">Room Number</label>
      <input
        class="mb-4 border rounded px-4 py-2 text-gray-700"
        type="text"
        [value]="stop().roomNr"
        [(ngModel)]="stop().roomNr"
        name="roomNr"
        id="roomNr"
      />
    </div>
    <div class="w-1/2">
      <div class="flex items-baseline mt-4 mb-6">
        <h1 class="font-medium text-lg my-2">Students</h1>

        <form class="ml-10">
          <label
            for="students"
            class="block text-sm font-medium text-gray-900"
          ></label>
          <select
            id="students"
            (change)="onStudentSelect($event)"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          >
            <option value="0" selected>Add Teacher</option>
            @for (student of studentsNotInStop(); track student.edufsUsername) {
              <option value="{{ student.edufsUsername }}">{{ student.lastName + " " + student.firstName }}</option>
            }
          </select>
        </form>
      </div>
    </div>
    <div class="flex flex-row">
      @for (student of studentStore.getStudentsByStopId(stop().id); track $index) {
        <app-chip
          class="w-auto mr-2"
          [id]="student.edufsUsername"
          [value]="student.lastName + ' ' + student.firstName"
          (remove)="onStudentRemove($event)"
        >
        </app-chip>
      }
    </div>
    @if (isAdmin()) {
      <div class="w-1/2">
        <div class="flex items-baseline mt-4 mb-6">
          <h1 class="font-medium text-lg my-2">Teachers</h1>

          <form class="ml-10">
            <label
              for="teachers"
              class="block text-sm font-medium text-gray-900"
            ></label>
            <select
              id="teachers"
              (change)="onTeacherSelect($event)"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            >
              <option value="0" selected>Add Teacher</option>
              @for (teacher of teachersNotInStop(); track teacher.edufsUsername) {
                <option value="{{ teacher.edufsUsername }}">{{ teacher.lastName + " " + teacher.firstName }}</option>
              }
            </select>
          </form>
        </div>
      </div>
      <div class="flex flex-row">
        @for (teacher of teachersByStopId(); track $index) {
          <app-chip
            class="w-auto mr-2"
            [id]="teacher.edufsUsername"
            [value]="teacher.lastName + ' ' + teacher.firstName"
            (remove)="onTeacherRemove($event)"
          >
          </app-chip>
        }
      </div>
    }

    <h1 class="font-medium text-lg my-2">StopGroups</h1>

    @for (stopGroupId of stop().stopGroupIds; track $index) {
      <p>{{ stopGroupStore.getStopGroupById(stopGroupId)!.name }}</p>
    }

    <div>
      <div class="flex items-baseline mt-4 mb-6">
        <h1 class="font-medium text-lg my-2">Divisions</h1>

        <form class="ml-10">
          <label
            for="divisions"
            class="block text-sm font-medium text-gray-900"
          ></label>
          <select
            id="divisions"
            (change)="onDivisionSelect($event)"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          >
            <option value="0" selected>Add Division</option>
            @for (division of inactiveDivisions(); track division.id) {
              <option value="{{ division.id }}">{{ division.name }}</option>
            }
          </select>
        </form>
      </div>

      <div class="flex flex-wrap">
        @for (id of stop().divisionIds; track $index) {
          <app-chip
            class="mr-2"
            [id]="id.toString()"
            [color]="divisionStore.getDivisionById(id)!.color"
            [value]="divisionStore.getDivisionById(id)!.name"
            (remove)="onDivisionRemove($event)"
          ></app-chip>
        }
      </div>
    </div>

    @if (errorMessage() != null) {
      <p class="text-red-700">{{ errorMessage() }}</p>
    }
    <div>
      <button type="submit" class="bg-htl-orange mr-4 p-2 rounded text-white">
        Submit
      </button>

      <button
        (click)="goBack()"
        type="button"
        class="mt-4 mr-4 bg-htl-orange p-2 rounded text-white"
      >
        Cancel
      </button>
      @if (stop().id != -1) {
        <button
          (click)="deleteAndGoBack()"
          type="button"
          class="mt-4 mr-4 bg-htl-orange p-2 rounded text-white"
        >
          Delete
        </button>
      }
    </div>
  </form>
</div>
