<label class="flex cursor-pointer items-center rounded-md bg-white">
  <!-- Checkbox input -->
  <input type="checkbox" class="hidden" [(ngModel)]="isChecked" (click)="toggleCheckbox()" />

  <!-- Custom checkbox design -->
  <span
    class="flex h-6 w-6 items-center justify-center rounded-md border-2 border-gray-500 transition-shadow ease-in-out checked:shadow-orange-500"
    [ngClass]="{ 'bg-gray-100': isChecked() }"
  >
    <!-- Orange checkmark -->
    <svg
      *ngIf="isChecked()"
      class="h-full w-full animate-jump-in text-3xl text-orange-500 animate-duration-[600ms] animate-once animate-ease-in-out"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M5 13l4 4L19 7"></path>
    </svg>
  </span>
</label>
