<div class="max-w-full bg-white rounded-lg shadow-md mx-4 overflow-x-hidden">
  <div class="p-6">
    <div class="flex flex-wrap flex-col content-center justify-between">
      <h2 class="text-3xl text-wrap font-medium text-gray-800 mb-4">{{ title }}</h2>
      @if (roomNr === undefined) {
        <p class="text-gray-600 font-normal text-lg">
          {{ description }}
        </p>
      }
      @if (roomNr !== undefined) {
        <h3 class="text-2xl text-wrap font-medium text-gray-800 mb-4">Raum: {{roomNr}}</h3>
        <p class="text-gray-600 font-normal text-lg self-start">
          {{ description }}
        </p>
        <button
          class="text-white h-10 shadow-md rounded-2xl mt-8 mb-2 bg-blue-600 w-32 h- self-start"
          (click)="router.navigate(['map', roomNr])"
        >
          Auf der Karte
        </button>
      }
    </div>

  </div>
</div>
