<form class="mx-auto max-w-sm">
  <label for="divisions" class="mb-2 block text-sm font-medium text-text-950"></label>
  <select
    id="divisions"
    (change)="onFilterChange($event)"
    class="block w-full rounded-lg bg-primary-200 p-2.5 text-sm text-text-950 hover:bg-primary-300"
  >
    <option value="0" selected>Filter by Division</option>

    @for (element of elements; track element.id) {
      <option class="text-text-700 hover:bg-background-50" value="{{ element.id }}">{{ element.name }}</option>
    }
  </select>
</form>
