<form>
  <select
    id="divisions"
    [(ngModel)]="filterValue"
    (ngModelChange)="onFilterChange($event)"
    class="bg-background-100 border border-border-300 text-text-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
    name="divisions-select"
  >
    <option value="0" selected>Filter by Division</option>

    @for (element of elements; track element.id) {
      <option value="{{ element.id }}">{{ element.name }}</option>
    }
  </select>
</form>
